* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;

  --cor-primeira: #141b41;
  --cor-segunda: #306bac;
  --cor-terceira: #6f9ceb;
  --cor-quarta: #98b9f2;
  --cor-quinta: #918ef4;
  --text-color: #ffffff;
  --sakura-color: #b191ff;
  --sakura-color1: #df99f0;
  --sakura-color2: #d664be;
  --sakura-color3: #bd2d87;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  float: left;
  background: rgb(223, 153, 240);
  background: linear-gradient(
    0deg,
    rgba(223, 153, 240, 1) 0%,
    rgba(189, 45, 135, 1) 100%
  );
  min-height: 100vh;
  font-size: 30px;
  border-right: 5px solid white;
}
.title {
  font-size: 36px;
  font-family: "Inter", sans-serif;
}
.apresentacao img {
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  margin: 50px;
  border: 5px solid white;
}

.apresentacao p {
  color: var(--text-color);
  margin: 20px;
  padding: 15px;
  text-align: center;
}

.apresentacao a {
  text-decoration: none;
  color: var(--text-color);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  background-image: url("https://images.unsplash.com/photo-1557409518-691ebcd96038?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  flex: 1;
  font-family: "Inter" bold, sans-serif;
  font-size: 22px;
  color: white;
  text-shadow: ;
}

.data {
  background: rgb(223, 153, 240);
  background: radial-gradient(
    circle,
    rgba(223, 153, 240, 0.7357317927170868) 0%,
    rgba(223, 153, 240, 0.7189250700280112) 100%
  );
  padding: 45px;
  border-radius: 30px;
}

.data ul {
  list-style: none;
}

.history {
  background: rgb(223, 153, 240);
  background: radial-gradient(
    circle,
    rgba(223, 153, 240, 0.7357317927170868) 0%,
    rgba(223, 153, 240, 0.7189250700280112) 100%
  );
  padding: 45px;
  border-radius: 25px;
}

.networking {
  background: rgb(223, 153, 240);
  background: radial-gradient(
    circle,
    rgba(223, 153, 240, 0.7357317927170868) 0%,
    rgba(223, 153, 240, 0.7189250700280112) 100%
  );
  padding: 45px;
  border-radius: 25px;
}

@media (max-width: 727px) {
  .container {
    flex-direction: column;
  }

  .apresentacao {
    order: -1;
    margin-bottom: 20px;
  }
}
