* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;

  --cor-primeira: #141b41;
  --cor-segunda: #306bac;
  --cor-terceira: #6f9ceb;
  --cor-quarta: #98b9f2;
  --cor-quinta: #918ef4;
  --text-color: #ffffff;
  --sakura-color: #b191ff;
  --sakura-color1: #df99f0;
  --sakura-color2: #d664be;
  --sakura-color3: #bd2d87;
}

/* .name {
  background-color: #918ef4;
  font-size: 25px;
  margin: 2px;
  padding: 2px;
  border-radius: 15px;
  
} */
.apresentacao {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  float: left;
  background-image: url("https://s2.glbimg.com/FRyrYDBiOhDglCRobjP2Nxvg0Po=/e.glbimg.com/og/ed/f/original/2017/01/12/van-gogh.gif");
  background-size: cover;
  /* background: rgb(223, 153, 240);
  background: linear-gradient(
    0deg,
    rgba(223, 153, 240, 1) 0%,
    rgba(189, 45, 135, 1) 100%
  ); */
  min-height: 100vh;
  font-size: 30px;
  border-right: 2px solid white;
}
.title {
  font-size: 36px;
  font-family: "Inter", sans-serif;
}
.apresentacao img {
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  margin: 50px;
  border: 5px solid white;
}

.apresentacao p {
  color: var(--text-color);
  margin: 20px;
  padding: 15px;
  font-size: 30px;
  text-align: center;
}

.apresentacao a {
  text-decoration: none;
  color: var(--text-color);
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.icons:hover {
  transition: fill 0.5s ease;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(7, 6, 51);
  background: linear-gradient(
    90deg,
    rgba(7, 6, 51, 1) 0%,
    rgba(49, 89, 251, 1) 50%,
    rgba(118, 209, 255, 1) 100%
  );
  min-height: 100vh;
  font-family: "Inter" bold, sans-serif;
  font-size: 22px;
  color: white;
}

.data {
  background: rgb(20, 27, 65);
  background: linear-gradient(
    90deg,
    rgba(20, 27, 65, 0.8281687675070029) 0%,
    rgba(71, 95, 230, 0.8393732492997199) 50%,
    rgba(165, 225, 255, 0.4948354341736695) 100%
  );
  padding: 20px;
  border-radius: 30px;
}
.apresentacao a:hover {
  background: rgb(149, 30, 179);
  background: linear-gradient(
    0deg,
    rgba(149, 30, 179, 1) 0%,
    rgba(3, 10, 102, 0.9850315126050421) 100%
  );
  margin: 2px;
  padding: 2px;
  border-radius: 15px;
  transform: scale(1.4);
}

.data ul {
  list-style: none;
}

.history {
  background: rgb(223, 153, 240);
  background: rgb(20, 27, 65);
  background: linear-gradient(
    90deg,
    rgba(20, 27, 65, 0.8281687675070029) 0%,
    rgba(71, 95, 230, 0.8393732492997199) 50%,
    rgba(165, 225, 255, 0.4948354341736695) 100%
  );
  padding: 20px;
  border-radius: 25px;
}

.networking {
  background: rgb(20, 27, 65);
  background: linear-gradient(
    90deg,
    rgba(20, 27, 65, 0.8281687675070029) 0%,
    rgba(71, 95, 230, 0.8393732492997199) 50%,
    rgba(165, 225, 255, 0.4948354341736695) 100%
  );
  padding: 20px;
  border-radius: 25px;
}
.insplist a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}
.insplist ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 27px;
  text-align: center;
}

.insplist {
  position: relative;
}
.insplist {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.insplist img:hover {
  transform: scale(1.1);
}

.insplist h1:hover {
  transition: font-size 1s ease;
  font-size: 30px;
  background-color: #0077b5;
  border-radius: 5px;
}
.insplist img {
  border-radius: 50%;
  border: 5px solid var(--cor-terceira);
}

@media (max-width: 812px) {
  
  * {
    font-size: 17px;
  }

  .container {
    flex-direction: center;
  }
  .container img {
    width: 250px;
    margin-right: 25px;
    justify-content: center;
  }

  .apresentacao {
    background-image: url("https://s2.glbimg.com/FRyrYDBiOhDglCRobjP2Nxvg0Po=/e.glbimg.com/og/ed/f/original/2017/01/12/van-gogh.gif");
    background-position: cover;
    background-repeat: no-repeat;
    background-image: cover;
    border-right: blue  ;
  }


  .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden;
  }
  
  .insplist {
    overflow-x: scroll;
  }
  
  .data {
    order: 2;
  }
  .history{
    order: 3;
  }
  .insplist {
    order: 1;
  }
}
